.turbidity-calibration-range {font-weight: bold;}


.in-situ-header-cell { text-align: center; padding-left: 10px; padding-right: 10px }

.in-situ-table-cell { text-align: center }

.center-align-table-cell { text-align: center }

.in-situ-inner-table { margin: auto }

.table-with-border { border: 1px solid black }

.login-container {
    padding: 25px;
    position: fixed;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}


.login-header { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.login-wrapper {
    text-align: center;
}

