.turbidity-calibration-range {font-weight: bold;}


.in-situ-header-cell { text-align: center; padding-left: 10px; padding-right: 10px }

.in-situ-table-cell { text-align: center }

.center-align-table-cell { text-align: center }

.in-situ-inner-table { margin: auto }

.in-situ-location-table {
  margin: auto;
  text-align:left;
  margin-left:5px;
}

.user-notes-section {
  padding-top: 10px;
}

.location-cell {
  width: 12%;
}

.site-overview-row {
  border-top-width : 1px;
  border-top-style: solid;
  border-top-color: #d9d9d9;
}

.site-overview-text {
  padding-top: 6px;
  padding-bottom: 6px;
}

.site-overview-header {
  padding-bottom: 6px;
  font-weight: 700;
}

#edit-sampling-order-button {
  padding-bottom: 8px;
}

.site-details {
  padding-bottom: 8px;
  padding-top: 8px;
}

.site-details-label {
  padding-top: 12px;
  font-size: 16px;
  font-weight: 700;
}

.site-details-input-hint {
  font-size: 12px;
}

.date-input {
  width: 10%;
}

.even-table-row {
    background-color: #F9F9F9;
}

.odd-table-row {
    background-color: #FFFFFF;
}

.even-table-row-yellow {
  background-color: #ffffcc;
}
.odd-table-row-yellow {
  background-color: #ffffe6;
}

.even-table-row-violet {
  background-color: #f9d2f9;
}

.odd-table-row-violet {
  background-color: #fce9fc;
}

.even-table-row-green {
  background-color: #ccffcc;
}

.odd-table-row-green {
  background-color: #e6ffe6;
}

.even-table-row-red {
  background-color: #ffcccc;
}

.odd-table-row-red {
  background-color: #ffe6e6;
}

.even-table-row-blue {
  background-color: #cceeff;
}

.odd-table-row-blue {
  background-color: #e6f7ff;
}

.even-table-row-orange {
  background-color: #ffeecc;
}

.odd-table-row-orange {
  background-color: #fff7e6;
}

.wq-container {
  padding-top: 15px;
}

.wq-edit-choices {
  padding-top: 15px;
}

.insitu-input, .site-input {

text-align: center;
display: block;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
     -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.insitu-input {
  width: 100%;
}

.site-text-area {

color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
     -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.table-with-border { border: 1px solid black }

.login-container {
    padding: 25px;
    position: fixed;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}


.login-header {
 border:0 solid #fff;
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.login-wrapper {
    text-align: center;
}

.orig-validation-error {
    border-color: #cfdc00;
    box-shadow: 0 0 5px rgba(207, 220, 0, 0.4);
}

.validation-error {
    background-color: rgb(242, 222, 222);
    border-color: #cc0000;
    box-shadow: 0 0 5px rgba(242, 222, 222, 0.9);
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}
