extends layout

include _includes/sharedHTMLfunctions

block content
  .container
    .row.page-header
      .col-lg-12
        h3 #{title}
    - if ((errors) && (errors.length > 0)) {
      .row
        h3.text-danger Errors and Warnings Detected
      .row
        +outputErrors(errors)
    - }
    .row
      .col-md-12
        form(action="/", method="POST", role="form").col-md-12
          table.table.table-striped.table-hover
           thead
             tr
               th Location Name
               th.in-situ-header-cell Time
               th.in-situ-header-cell Temp (C)
               th.in-situ-header-cell Sal
               th.in-situ-header-cell DO
               th.in-situ-header-cell DO Sat
               th.in-situ-header-cell pH
               th.in-situ-header-cell 
               th.in-situ-header-cell Turbidity (NTU)
               th.in-situ-header-cell 
               th Comments
           thead
             tr
               th 
               th.in-situ-header-cell
               th.in-situ-header-cell (C)
               th.in-situ-header-cell (ppt)
               th.in-situ-header-cell (mg/L)
               th.in-situ-header-cell (%)
               th.in-situ-header-cell
               th.in-situ-header-cell 1
               th.in-situ-header-cell 2
               th.in-situ-header-cell 3
               th Comments
           tr
             td Napili Bay RNA
             td
               input(type="text", name="time", value="00:00").form-control
             td
               input(type="text", name="temp", value="0.0").form-control
             td
               input(type="text", name="salinity", value="0.0").form-control
             td
               input(type="text", name="dissolved_oxygen", value="0.0").form-control
             td
               input(type="text", name="dissolved_oxygen_sat", value="0.0").form-control
             td
               input(type="text", name="ph", value="0.0").form-control
             td
               input(type="text", name="turbidity1", value="0.0").form-control
             td
               input(type="text", name="turbidity2", value="0.0").form-control
             td
               input(type="text", name="turbidity3", value="0.0").form-control
             td
               input(type="text", name="comments", value="a comment").form-control
           tr
             td Pohaku RPO
             td
               input(type="text", name="time", value="00:00").form-control
             td
               input(type="text", name="temp", value="0.0").form-control
             td
               input(type="text", name="salinity", value="0.0").form-control
             td
               input(type="text", name="dissolved_oxygen", value="0.0").form-control
             td
               input(type="text", name="dissolved_oxygen_sat", value="0.0").form-control
             td
               input(type="text", name="ph", value="0.0").form-control
             td
               input(type="text", name="turbidity1", value="0.0").form-control
             td
               input(type="text", name="turbidity2", value="0.0").form-control
             td
               input(type="text", name="turbidity3", value="0.0").form-control
             td
               input(type="text", name="comments", value="a comment").form-control

