extends layout

block content
  .container
    .row.page-header
      .col-lg-12
        h3 #{title}
    .row
      .col-md-6
        form.form-horizontal
          fieldset
            div.form-group
              label.col-lg-2.control-label(for="samplers") Samplers
              div.col-lg-10
                input#samplers.form-control(name="samplers" value="Dana Reed, Cathy Maxwell, Alana Yurkanin, Kit Harris")
            div.form-group
              label.col-lg-2.control-label(for="sampleSessionContact") Contact
              div.col-lg-4
                input#sampleSessionContact.form-control(name="sampleSessionContact" value="Dana Reed")
            div.form-group
              label.col-lg-2.control-label(for="sampleSessionDate") Date
              div.col-lg-4
                input#sampleSessionDate.form-control(name="sampleSessionDate" value="6/29/2016")
    .row
      .col-md-12
        h4 In-Situ Readings
    .row
      .col-md-12
        table.table.table-striped.table-hover
         thead
           tr
             th Location Name
             th.in-situ-header-cell Time
             th.in-situ-header-cell Temp (C)
             th.in-situ-header-cell Sal (ppt)
             th.in-situ-header-cell DO (mg/L)
             th.in-situ-header-cell DO Saturation (%)
             th.in-situ-header-cell pH
             th.in-situ-header-cell Turbidity(NTU)
             th Comments
         tbody
           tr
             td 505 PFF
             td.in-situ-table-cell 7:43 AM
             td.in-situ-table-cell 27.0
             td.in-situ-table-cell 30.1
             td.in-situ-table-cell 6.34
             td.in-situ-table-cell 96.5
             td.in-situ-table-cell 7.98 
             td
               table.in-situ-inner-table
                   tr
                     td 1.64
                   tr
                     td 1.61
                   tr
                     td 1.70
             td 0 swimmers, grey water
           tr
             td Lindsey Hale PLA
             td.in-situ-table-cell 8:24 AM
             td.in-situ-table-cell 27.2
             td.in-situ-table-cell 29.1
             td.in-situ-table-cell 6.29
             td.in-situ-table-cell 96.0
             td.in-situ-table-cell 8.04 
             td
               table.in-situ-inner-table
                 tr
                   td 3.34
                 tr
                   td 3.58
                 tr
                   td 3.37 
             td 0 swimmers, grey water
           tr
             td Lahaina Town PLT
             td.in-situ-table-cell 8:50 AM
             td.in-situ-table-cell 27.3
             td.in-situ-table-cell 28.9
             td.in-situ-table-cell 6.21
             td.in-situ-table-cell 95.0
             td.in-situ-table-cell 8.02 
             td
               table.in-situ-inner-table
                 tr
                   td 2.01
                 tr
                   td 1.92
                 tr
                   td 2.00
             td 0 swimmers, took Alana back
           tr.danger
             td Puamana PPU
             td.in-situ-table-cell(colspan="7") not taken
             td Not safe, looked at one other site, made video
           tr
             td Launiupoko OLP
             td.in-situ-table-cell 10:04 AM
             td.in-situ-table-cell 28.5
             td.in-situ-table-cell 29.9
             td.in-situ-table-cell 6.60
             td.in-situ-table-cell 102.1
             td.in-situ-table-cell 8.07 
             td
               table.in-situ-inner-table
                 tr
                   td 4.67
                 tr
                   td 4.40
                 tr
                   td 4.53
             td 0 swimmers, no parking
           tr
             td Olowalu Pier OSF
             td.in-situ-table-cell 10:39 AM
             td
               table.in-situ-inner-table
                 tr
                   td 28.0
                 tr
                   td 28.01
             td.in-situ-table-cell 29.3
             td.in-situ-table-cell 7.17
             td.in-situ-table-cell 111.1
             td.in-situ-table-cell 8.10
             td
               table.in-situ-inner-table
                 tr
                   td 1.16
                 tr
                   td 1.07
                 tr
                   td 0.97
             td 0 swimmers
    .row
      .col-md-12
        h4 Turbidity Calibration
    .row
      .col-md-12
        table.table.table-striped.table-hover
         thead
           tr
             th 
             th Blank:
             th Low:
             th 
             th Med:
             th 
             th High:
             th 
             th Comment
         tbody
           tr
             td.turbidity-calibration-range  Pre:
             td 0.06
             td.turbidity-calibration-range 0-10
             td 5.57
             td.turbidity-calibration-range  10-100
             td 57.7
             td.turbidity-calibration-range  10-100
             td 617
             td 
           tr
             td.turbidity-calibration-range  Post:
             td 0.06
             td.turbidity-calibration-range  0-10
             td 5.59
             td.turbidity-calibration-range  10-100
             td 57.8
             td.turbidity-calibration-range  10-100
             td 615
             td
    .row
      .col-md-12
        h4 Water Quality Sampling 
    .row
      .col-md-12
        table.table.table-striped.table-hover
         thead
           tr
             th Sample No
             th Location Name
             th Time
             th Vol (mL)
             th Nutrient Bottle?
             th SSC?
             th Quality control notes
             th Turbidity(NTU)
             th Grab Sample?
         tbody
           tr
             td PFF160629-N-1
             td 505Front
             td 7:43
             td 125
             td x
             td 
             td 
             td yes
           tr
             td PFF160629-N-1
             td 505Front
             td 7:43
             td 125
             td x
             td 
             td 
             td yes
